a {
	position: relative;
}

a>img {
	display: none;
	opacity: 0;
	transition: opacity 1s;
}
a:hover>img {
	opacity: 1;
	display: inline-block;
	width: 512px;
	position: absolute;
	top: 16px;
	left: 32px;
	z-index: 1000;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
